US7027974.pdf
DA24C021-Assignment-1.html
2406.19537v1.pdf
.DS_Store
Assignment 2/Group-8.zip
Assignment 2/testdoc.tex
Assignment 2/testdoc2.tex
Assignment 2/temp.xml
*/semeval-paper-related
Assignment 1-rework/.financial-modelling5.ttl.kate-swp
Assignment 3/Draft.owx
Assignment 3/draft.ttl
Assignment 3/draft2.ttl
